
.icon-location:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-globe-1:before { content: '\e804'; } /* '' */
.icon-location-1:before { content: '\e805'; } /* '' */
.icon-facebook-1:before { content: '\e806'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */