
.icon-location:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-facebook-1:before { content: '\e806'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */