@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Black.eot');
    src: local('sans-serif'), local('sans-serif'),
    url('../fonts/montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/Montserrat-Black.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-ThinItalic.eot');
    src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
    url('../fonts/montserrat/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/Montserrat-ThinItalic.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Medium.eot');
    src: local('sans-serif'), local('sans-serif'),
    url('../fonts/montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/Montserrat-Medium.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.eot');
    src: local('sans-serif'), local('sans-serif'),
    url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-SemiBoldItalic.eot');
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
    url('../fonts/montserrat/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/Montserrat-SemiBoldItalic.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-LightItalic.eot');
    src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
    url('../fonts/montserrat/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/Montserrat-LightItalic.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-BlackItalic.eot');
    src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
    url('../fonts/montserrat/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/Montserrat-BlackItalic.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Bold.eot');
    src: local('sans-serif'), local('sans-serif'),
    url('../fonts/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Italic.eot');
    src: local('sans-serif'), local('sans-serif'),
    url('../fonts/montserrat/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/Montserrat-Italic.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-ExtraLight.eot');
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
    url('../fonts/montserrat/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/Montserrat-ExtraLight.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-ExtraBoldItalic.eot');
    src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
    url('../fonts/montserrat/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/Montserrat-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-BoldItalic.eot');
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
    url('../fonts/montserrat/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/Montserrat-BoldItalic.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-SemiBold.eot');
    src: local('sans-serif'), local('sans-serif'),
    url('../fonts/montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Thin.eot');
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
    url('../fonts/montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/Montserrat-Thin.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-ExtraLightItalic.eot');
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
    url('../fonts/montserrat/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/Montserrat-ExtraLightItalic.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-MediumItalic.eot');
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
    url('../fonts/montserrat/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/Montserrat-MediumItalic.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
/* ***************** Gilroy ******************** */
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy'), url('../fonts/Gilroy-Medium.eot?') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium.woff2') format('woff2'),

    local('Gilroy'), url('../fonts/Gilroy-Medium.woff') format('woff'),
    local('Gilroy'), url('../fonts/Gilroy-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: '../fonts/Gilroy';
    src: url('../fonts/Gilroy-Black.eot');
    src: url('../fonts/Gilroy-Black.eot?') format('embedded-opentype'),
    url('../fonts/Gilroy-Black.woff2') format('woff2'),
    url('../fonts/Gilroy-Black.woff') format('woff'),
    local('Gilroy'), url('../fonts/Gilroy-Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../fonts/Gilroy';
    src: url('../fonts/Gilroy-Thin.eot');
    src: url('../fonts/Gilroy-Thin.eot?') format('embedded-opentype'),
    url('../fonts/Gilroy-Thin.woff2') format('woff2'),
    url('../fonts/Gilroy-Thin.woff') format('woff'),
    local('Gilroy'), url('../fonts/Gilroy-Thin.svg') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: '../fonts/Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    local('Gilroy'), url('../fonts/Gilroy-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../fonts/Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: url('../fonts/Gilroy-Light.eot?') format('embedded-opentype'),
    url('../fonts/Gilroy-Light.woff2') format('woff2'),
    url('../fonts/Gilroy-Light.woff') format('woff'),
    local('Gilroy'), url('../fonts/Gilroy-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../fonts/Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    local('Gilroy-Bold'), url('../fonts/Gilroy-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: '../fonts/Gilroy';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: url('../fonts/Gilroy-SemiBold.eot?') format('embedded-opentype'),
    url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
    url('../fonts/Gilroy-SemiBold.woff') format('woff'),
    local('Gilroy-SemiBold'), url('../fonts/Gilroy-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
