/*@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');*/












p:last-of-type {
    margin-bottom: 0;
}

.font500 {
    font-weight: 500;
}


.relative {
    position: relative;
    overflow: hidden;
}








@media (min-width: 768px) and (max-width: 991px) {

   

    .sm-mb50 {
        margin-bottom: 50px;
    }

    .sm-mb80 {
        margin-bottom: 80px;
    }

    .sm-mt50 {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 767px) {

  

    .xs-mb20 {
        margin-bottom: 20px;
    }

    .xs-mb50 {
        margin-bottom: 50px;
    }

    .xs-mt40 {
        margin-top: 40px;
    }

    .xs-mt50 {
        margin-top: 50px;
    }
}


.gray-bg {
    background: #f0f1ff;
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    outline: 0;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus {
    outline: 0;
}

textarea {
    width: 100%;
}

embed,
iframe,
object {
    width: 100%;
}


